/*Home page style*/
/*Delete the styling of the body tag when we have the style*/
body{
    margin: 0 11%;
    font-family: Helvetica, Calibri;
    color: #333333;
}
#homeHeader,#homeSubheader{
    text-align: center;
}
.homeSection{
    display: inline-block;
    height: 400px;
    width: 300px;
    margin: 20px;
    text-align: center;
    vertical-align: top;

    border: 1px solid lightgray;
}
.homeParagraph{
    margin-left: 25px;
    text-align: left;
}
.homeImgSection{
    width: 250px;
    height: 250px;
}
.homeLinks{
	color:#333333;
	text-decoration:none;
}
.homeLinks:visited{
	color:#333333;
}