.galleryWrapper {
    width: 900px;
    align-self: center;
}
table td div {
    width: 220px;
    height: 220px;
}
table td div img {
    max-width: 99%;
    max-height: 99%;
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}