/*Home page style*/
@font-face {
    font-family: Graffiti;
    src: url('Sprite%20Graffiti.otf');
}
#homeHeader,#homeSubheader, #homePS{
    font-weight: lighter;
    text-align: left;
    margin: 20px;
    color: #333333;
}
#homeHeader{
    text-align: center;
    font-size: 40px;
    font-family: Graffiti;
}
#homeSubheader{
    text-align: center;
}
#homePS{
    text-align: right;
}
h4{
    font-size: 1.3em;
}
.homeSection{
    display: inline-block;
    height: 400px;
    width: 300px;
    margin: 20px;
    text-align: center;
    vertical-align: top;

    border: 1px solid lightgray;
}
.homeParagraph{
    margin-left: 25px;
    text-align: left;
}
.homeImgSection{
    width: 250px;
    height: 250px;
}
.homeLinks{
    color:#333333;
    text-decoration:none;
}
.homeLinks:hover section{
    /*background: #d9caac;*/
    background: #9389d0;
    color: #1D1D1D;;
    text-decoration:none;
}
.homeLinks:visited{
    color:#333333;
}