body {
    margin-bottom: 10px;
}

main {
    overflow: auto;
}
main h1 {
    padding: 10px;
    text-align: center;
}

main h2 {
    font-size: 1.2em;
    text-align: justify;
    padding: 10px 0 20px 0;
}

#nav-astro {
    width: 17%;
    float: left;
    bottom: 5px;
    left: 90px;
}

#nav-astro ul {
    background: rgba(10, 53, 255, 0.80);
    border-radius: 10px;
    padding: 3%;
    font-size: 1em;
    text-align: center;
}

section#nav-astro a {
    color: #010100;
}




#nav-astro a {
    color: #000000;
    text-decoration: none;
}

#nav-astro a:hover {
    color: #ff8c00;
}

#nav-astro ul {
    list-style: none;
    border: 2px solid gray;
    padding-left: 5%;
}

#astro {
    width: 78%;
    float: right;
    margin-left: 2%
}

article {
    overflow: auto;
}

article>img {
    width: 179px;
    height: 165px;
    float: left;
    margin-bottom: 0;
}

article>div{
    width: 75%;
    text-align: justify;
    float: right;
    margin-top: 12px;
    margin-right: 31px;
}

article>h3 {
    text-align: center;
    margin: 8px;
    font-size: 1.5em;
}

.gem {
    color: brown;
}
#ema {
    display: block;
}

.laugh>h1 {
    width: 75%;
    float: right;
    margin: 20px;
    border: 4px solid #69cdff;
    box-shadow: 0 0 0 4px #16a9ff;
    border-radius: 500px;
}
.asterix {
    width: 50%;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.quot {
    width: 78%;
    float: right;
}


.nakov {
    margin-top: 50px;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

iframe {
    margin-left: 23%;
    margin-top: -70px;
}