.personal {
    font-size: 25px;
    border: 2px solid #41bcff;
    border-radius: 10px;
    padding: 5px;
    height: auto;
    margin-bottom: 15px;
    width: 630px;

    margin-left: 260px;
    background-color: #1D1D1D;
}
#text-main {
    font-size: 1.05em
    font-family: sans-serif;
}

#text-main .text {
    color: #424ce5;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: -35px;
    margin-top: -20px;
}


strong {
    color: #515dff;
}

.image {
   margin-left: 368px;
}

.deep-sky {
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
h1 {
    padding: 15px;
    text-align: center;
}

.image {
    text-align: center;
}

#main-wrapper hr {
    border-bottom: 1px solid #4c48ff;
}

.deep-sky a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(9, 9, 129, 0.68);
}

.us {
    text-align: center;
    padding: 15px 0 25px 0;
    font-size: 1.25em;
}

.text p {
    font-size: 17px;
}