body, header, section, article, img, div, svg, span, a {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: BebasNeueBook;
    src: url('BebasNeue%20Book.otf');

}
@font-face {
    font-family: Hagin;
    src: url('Hagin%20Caps%20Medium.otf');
}

body {
    background: #1D1D1D;
    width: 100%;
    margin: 0 auto;
    font-family: Hagin;
    font-size: 16px;
}

/*--- 1. Header---*/

#header {
    overflow: auto;
    /*background: #1D1D1D;*/
    background: #0f0f0f;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: BebasNeueBook;
}

/*- 1.1. Header logo -*/
#header-logo {
	overflow: auto;
    width: auto;
    margin: 0 auto;
    max-width: 1400px;
}

#header-logo img{
    float: left;
    max-width: 100%;
}

/*- 1.2. Navigation menu -*/

header a {
    text-decoration: none;
    font-weight: bold;
    /*color: #ffffff;*/
    /*color: #9389d0;*/
    color: #eee;
}

#navigation-wrapper {
    width: 100%;
    overflow: auto;
    float: left;
}


#navigation-bg {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

#navigation-bg ul {
    margin: 0;
    float: right;
}


#navigation-bg li {
    display: inline-block;
    list-style: none;
    color: #fff;
    width: 140px;
    text-align: center;
    background: none;
    line-height: 50px;
    font-size: 1.2em;
    cursor: pointer;
}

#navigation-bg li:hover {
    /*background: #ff8c00;*/
    /*background: #d9caac;*/
    background: #9389d0;
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    -ms-transition: background .4s ease-in-out;
    -o-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}
#navigation-bg li:hover > a{
    color: #1D1D1D;
}

/*- 1.3. Mobile menu -*/

.site-nav-toggle {
     margin: 0 auto;
     display: none;
     padding: 5px;
 }

.site-nav-toggle svg {
    vertical-align: middle;
}

#navigation-mobile {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

#navigation-mobile ul {
    list-style: none;
    padding: 0;
}

#navigation-mobile li {
    background: gray;
}

/*--- Main content ---*/

main {
    background: #eee;
    height: inherit;
    padding: 1% 0;
    width: 100%;
    float: left;
}

#main-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}

h1 {
    margin: 0;
}

h2, ul {
    margin: 0;
}

/*--- Footer ---*/

footer {
    background: #1D1D1D;
    color: #fff;
    float: left;
    width: 100%;
    font-family: BebasNeueBook;
}

#footer-wrapper {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    max-width: 1170px;
}

#footer-col-1, #footer-col-2 {
    display: inline-block;
    padding-top: 20px;
}

footer ul {
    height: auto;
    margin: auto 0;
    list-style: none;
}

footer li {
    line-height: 25px;
    cursor: pointer;
}

footer li:hover {
    /*color: #ff8c00;*/
    color: #9389d0;
    transition: color .2s ease-in-out;
}

#copyright {
    margin: 15px 0 0 40px;
}

#up-to-top {
    display: none;
    position: fixed;
    right: .5%;
    bottom: .5%;
    box-sizing: border-box;
    opacity: 0.6;
}

#up-to-top:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }

    #guide {
        padding: 2%;
    }

    #up-to-top {
        transform: scale(.7);
        right: .2%;
        bottom: .2%;
    }
}

@media screen and (max-width: 768px) {

    nav#navigation-bg ul {
        display: none;
    }

    #header-logo {
        //display: none;
    }
    .site-nav-toggle {
        display: block;
    }

    #navigation-guide {
        display: none;
    }

    section#guide {
        width: 100%;
    }

    article div {
        width: 100% !important;
        padding: 1%;
    }


    #guide article img {
        width: 50%;
    }
}
